{% extends "pttrack/base.html" %}

{% load i18n %}
<!-- trans finished -->

{% block title %}
{% blocktrans %}New followup request{% endblocktrans %}
{% endblock %}

{% block header %}
<h1>{% blocktrans %}Request referral followup{% endblocktrans %}</h1>
<p class="lead">{% blocktrans %}Referral to{% endblocktrans %}
{% for ref in referral.location.all %}
	{{ref.name}}
	{% if forloop.last %}
	{% else %}
	{% blocktrans %}or{% endblocktrans %}
	{% endif %}
{% endfor %}
</p>
{% endblock %}

{% block content %}

<div class="container">
  {% load crispy_forms_tags %}
  {% crispy form %}
</div>

{% endblock %}
