{% extends "pttrack/base.html" %}

{% block title %}
New patient contact
{% endblock %}

{% block header %}
<h1>New referral followup</h1>
{% if patient %}
<p class="lead">Referral for <em><a href="{% url 'patient-detail' pk=patient.id %}">{{ patient.name }}</a></em></p>
{% endif %}
<p class="lead">Referral to 
{% for ref in referral.location.all %}
	{{ref.name}}
	{% if forloop.last %}
	{% else %}
	or
	{% endif %}
{% endfor %}
</p>
<p class="lead">Followup requested for {{followup.due_date}}</p>

{% endblock %}

{% block content %}
  {% load crispy_forms_tags %}

{{ form.errorlist }}

{{ form.errors }}

{{ form.field_errors }}

{% if form.non_field_errors %}
    <div class="alert alert-block alert-danger">
        {% if form_error_title %}<h4 class="alert-heading">{{ form_error_title }}</h4>{% endif %}
        <ul>
            {{ form.non_field_errors|unordered_list }}
        </ul>
    </div>
{% endif %}


    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}


<div class="container">
  {{ form|as_crispy_errors }}

  {% crispy form %}
</div>

{% endblock %}