{% extends "pttrack/base.html" %}

{% load i18n %}
<!-- trans finished -->

{% block title %}
{% blocktrans %}Create new FQHC referral{% endblocktrans %}
{% endblock %}

{% block header %}
<h1>{% blocktrans %}New FQHC Referral{% endblocktrans %}</h1>
{% if patient %}
<p class="lead">{% blocktrans %}Referral for{% endblocktrans %} <em><a href="{% url 'patient-detail' pk=patient.id %}">{{ patient.name }}</a></em></p>
{% endif %}
{% endblock %}

{% block content %}

<div class="container">
  {% load crispy_forms_tags %}
  {% crispy form %}
</div>

{% endblock %}
