{% extends "pttrack/base.html" %}

{% load i18n %}
<!-- trans finished -->

{% block title %}
{% blocktrans %}Select referral{% endblocktrans %}
{% endblock %}

{% block header %}
<h1>{% blocktrans %}Select Referral{% endblocktrans %}</h1>
<p class="lead">{% blocktrans %}Specify which referral you would like to update{% endblocktrans %}</p>
{% endblock %}

{% block content %}

{% if form.fields.referrals.queryset.count %}
	<div class="container">
	  {% load crispy_forms_tags %}
	  {% crispy form %}
	</div>
{% else %}
	<div class="container"/>
		<h3>{% blocktrans %}Oops! There aren't any active referrals for this patient{% endblocktrans %}...</h3>
		<p>{% blocktrans %}Do you want to{% endblocktrans %} <a href="{% url 'select-referral-type' pt_id=pt_id %}">{% blocktrans %}create one{% endblocktrans %}?</a></p>
	</div>
{% endif %}

{% endblock %}
