{% extends "pttrack/base.html" %}

{% load i18n %}
<!-- trans finished -->

{% load bootstrap3 %}

{% block title %}
{% blocktrans %}Choose a referral type{% endblocktrans %}
{% endblock %}

{% block header %}
<h1>{% blocktrans %}Choose a Referral Type{% endblocktrans %}</h1>
<p><i>{% blocktrans %}Each patient should be provided referrals for ongoing care to several FQHCs from a pre-screened list of FQHCs. Specialty referral refers to any non-FQHC referral (e.g., the COH){% endblocktrans %}.</i></p>
{% endblock %}

{% block content %}

<div class="container text-center">
	<div class="btn-group-vertical">
  	{% for referral_type in referral_types %}
	    <a class="btn btn-{% cycle 'info' 'success' 'warning' 'danger' %}" href="{% url 'new-referral' rtype=referral_type.slugify pt_id=pt.pk %}" role="button">{% blocktrans %}Create{% endblocktrans %} {{referral_type}} {% blocktrans %}referral{% endblocktrans %}</a>
	{% endfor %}
  
	</div>
</div>

{% endblock %}
