{% extends "pttrack/base.html" %}
{% load i18n %}
{% load static %}

<!-- load css -->
  {% block extra_head %}
	<link rel="stylesheet" href={% static "workup.css" %}>
  {% endblock %}
<!-- end load css -->

{% load i18n %}

<!-- trans finished -->

{% block title %}
{% trans 'Create a New Note' %}
{% endblock %}

{% block header %}
<h2>{% trans 'Create a New Note' %}</h2>
{% endblock %}

{% block content %}

<div class="container">

	<div  class="col-md-6 col-md-offset-3 custom-table-outer">
		<table class="table custom-table" style="text-align: center">
			<tr><th class="custom-table-inner" style="text-align: center"><h4 class="h4-custom">{% trans 'Note Type' %}</h4>
			<p class="p-custom">Wähle hier die Untersuchungsform aus, die für diesen Patienten angelegt werden soll.</p>
			</th></tr>

			{% for note_name, note_url in note_types.iteritems %}
			<tr><td class="td-custom">
				<a class="a-custom" href="{{note_url}}" role="button">{{ note_name }}</a>
			</td></tr>
			{% endfor %}
		</table>
	</div>
</div>

{% endblock %}
